USE [BookingApplicationDb]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 4/14/2026 3:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[VenueID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[BookingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 4/14/2026 3:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[VenueID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 4/14/2026 3:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[VenueID] [int] IDENTITY(1,1) NOT NULL,
	[VenueName] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[Capacity] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[VenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [EventID], [VenueID], [Name], [PhoneNumber], [Email], [BookingDate]) VALUES (1, 1, 1, N'Customer 1', N'111111111', N'Customer1@email.com', CAST(N'2026-04-22T13:16:00.000' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [EventID], [VenueID], [Name], [PhoneNumber], [Email], [BookingDate]) VALUES (2, 3, 2, N'Company1', N'01010010101', N'CompanyEmail.com', CAST(N'2026-06-10T08:25:00.000' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [EventID], [VenueID], [Name], [PhoneNumber], [Email], [BookingDate]) VALUES (3, 5, 4, N'Different company ', N'0010010011', N'DiffCompany@email.com', CAST(N'2026-06-28T09:33:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Description], [VenueID]) VALUES (1, N'Wedding ', CAST(N'2026-04-18T09:37:00.000' AS DateTime), N'Wedding Ceremony ', 1)
INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Description], [VenueID]) VALUES (3, N'Recreational Activity ', CAST(N'2026-04-14T10:15:00.000' AS DateTime), N'Park that offers picnic''s and recreational activities such as mini golf and more', 3)
INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Description], [VenueID]) VALUES (4, N'Expensive Wedding', CAST(N'2026-04-01T08:16:00.000' AS DateTime), N'More Expensive wedding chapel', 2)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Venue] ON 

INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [ImageUrl]) VALUES (1, N'Wedding Chapell', N'Johannesburg ', 105, N'https://share.google/xMYXQWo0YcO7Z26WD')
INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [ImageUrl]) VALUES (2, N'Alternative Wedding Chapel', N'Johannesburg North', 200, N'https://share.google/hGxKu4Z5lGbybJZ66')
INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [ImageUrl]) VALUES (3, N'Event Park', N'Inner City ', 400, N'https://share.google/mgz6aC4JOsquT6T2b')
SET IDENTITY_INSERT [dbo].[Venue] OFF
GO
/****** Object:  Index [UQ_Venue_Event]    Script Date: 4/14/2026 3:47:04 PM ******/
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [UQ_Venue_Event] UNIQUE NONCLUSTERED 
(
	[VenueID] ASC,
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([VenueID])
REFERENCES [dbo].[Venue] ([VenueID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([VenueID])
REFERENCES [dbo].[Venue] ([VenueID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
